@* @{
    ViewData["Title"] = "Main-Window";
}

<script type="text/javascript">
    window.location.href = "/home/index.html"; // путь должен быть абсолютным
</script>

<p>
    If you are not redirected, <a href="/home/index.html">click here</a>.
</p>
 *@
